#header-css{
    width: 100%;
    height: 100px; /* Đặt chiều cao mong muốn cho header */
    background-color: #20c3f3f4;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#header-css h1 a {
    color: #eff9ff;
    font-family: 'Dancing Script' !important;
    font-size: 50px;
}
#logout {
    background-color: #fafafa; /* Màu nền */
    border: none; /* Bỏ viền */
    cursor: pointer;
    height: 50px;
}

#logout:hover {
    background-color: #ccc; /* Màu nền khi hover */
}